@using Microsoft.AspNetCore.Identity
@using LaLigaFans.Infrastructure.Data.Models
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string fullName = string.Empty;
    if(SignInManager.IsSignedIn(User))
    {
        fullName = User.FindFirstValue(LaLigaFans.Infrastructure.Constants.CustomClaims.UserFullNameClaim) ?? string.Empty;
    }
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <div>
            <a class="btn dropdown-toggle" href="#" role="button" 
            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Favorites</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Followed">Followed Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Favorites">Favorite Products</a>
                </li>
            </ul>
        </div>
    </li>
    
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @fullName!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
