<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="All">Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger">Admin Area</a>
    </li>
</ul>