@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome to the La Liga fan page!</h1>
</div>
<div class="row">
    <div class="col-10 offset-1">
        <img class="card-img-top w-100 h-auto" src="~/img/home/Home.png" alt="La Liga Image" />
    </div>
</div>
