@model ProductEditFormModel

@{
    ViewBag.Title = "Edit Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ProductEditFormPartial" model="@Model"></partial>




@section Scripts{
                <partial name="_ValidationScriptsPartial" />
                <script src="~/js/ShowUploadImageName.js" asp-append-version="true"></script>
}
