@model ProductDeleteServiceModel

@{
    ViewBag.Title = "Return Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="post">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="~/img/products/@Model.ImageUrl" alt="Product Image">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="2" class="form-control" disabled="disabled"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="UnitsAvailable" class="control-label"></label>
                <input asp-for="UnitsAvailable" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" disabled="disabled" />
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>

